
body.ad-background {
  background-image: url("/images/driver-at-the-wheel.jpg");
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-size: cover;
  color: white;
  
}

.sign-up-box {
    /* margin: 1rem 2rem 0 2rem; */
    background-color: rgba(0, 0, 0, 0.9); 
    box-shadow: 5px 5px 0 #eee;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.sign-up-box h1 {
    /* display: block; */
    /* background-color: rgba(0, 0, 0, 0.9);  */
    /* margin: 0 6rem 0 5rem; */
    /* padding: 0.3rem 0; */
    /* border: 1px solid white; */
    
    font-weight: normal;
}

body.ad-background .card {
    background-color: rgba(0, 0, 0, 0.9); 
    border:none;
    /* color: black; */
    /* text-shadow: 0px 0px 10px white; */
    border-radius: 0px;
    text-align: center;
    padding: 1rem;
    box-shadow: 5px 5px 0 #eee;
}

body.ad-background .sign-up-box input {
    border-color: white;
    background: rgba(0,0,0,1);
    border-width: 2px;
}

body.ad-background .sign-up-box input:focus {
    border-color: #009AEE;
}

::-webkit-input-placeholder { color:#fff !important; }
::-moz-placeholder { color:#fff !important; } /* firefox 19+ */
:-ms-input-placeholder { color:#fff !important; } /* ie */
input:-moz-placeholder { color:#fff !important; }

.btn-outline-primary {
    background: rgba(0,0,0,1);
    border-width: 2px;
    color:white;
}

.footer {
    color:#444;
}