body {
  background-image: url("/images/driver-at-the-wheel.jpg");
  background-repeat: no-repeat;
  background-position-x: 18%;
  background-size: cover;
  color: black;  
}

.deep-blue {
    color: #003755;
}

.card {
    margin: 2rem 0 -2rem 0;
    opacity: 0;
    /* background-color: rgba(255,255,255,0.95);  */
    border-radius: 3px;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.card span {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

p {
    margin-bottom: 0px !important;
}

@media (max-width: 991.98px) {
    .col-lg { padding: 0.3rem ; }
    .card-body { padding: 1rem; }
    .card span {
        display: inline;
        margin-right: 0.5rem;
        text-align: left;
        font-size: 1.2rem;
        font-weight: normal;
    }
}

.sign-up-box {
    background-color: white; 
    border-radius: 3px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    padding: 1rem 2rem;
    opacity: 0;
}

.sign-up-box .alert {
    border: 2px solid #FE9A8C;
}

.form-control {
    border-color: #003755 !important;
}

.footer {
    color:#888888;
}