/* FORMATTING */
.underlined { text-decoration: underline; }
/*.form-group { margin-bottom: 2rem; } /* More space */

/* VALIDATION */
#form.scoopm-was-validated .scoopm-is-invalid,
#form.scoopm-was-validated .scoopm-is-invalid .input-group-addon,
#form.scoopm-was-validated .scoopm-is-invalid .form-control { border-color: #dc3545; }

#form.scoopm-was-validated .scoopm-is-valid,
#form.scoopm-was-validated .scoopm-is-valid .input-group-addon,
#form.scoopm-was-validated .scoopm-is-valid .form-control  { border-color: #28a745;}

#form .scoopm-error {
    display: none; /* BY DEFAULT */
    color: #dc3545;
}
#form .scoopm-hint { color: #868e96; }

/* SHOW THE ERROR MESSAGES */
#form.scoopm-was-validated .scoopm-is-invalid + .scoopm-error,
#form.scoopm-was-validated .scoopm-is-invalid + .scoopm-hint {
    display: block;
    color: #dc3545;
}
