<i>Para información en español, visite <a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a> o escribe a la</i> 
<i>Consumer Financial Protection Bureau, 1700 G Street N.W., Washington, DC 20552.</i> 
 
<h2>A Summary of Your Rights Under the Fair Credit Reporting Act</h2> 
 
<p>The federal Fair Credit Reporting Act (FCRA) promotes the accuracy, fairness, and 
    privacy of information in the files of consumer reporting agencies. There are many types of 
    consumer reporting agencies, including credit bureaus and specialty agencies (such as agencies 
    that sell information about check writing histories, medical records, and rental history records). 
    Here is a summary of your major rights under the FCRA. <b>For more information, including </b>
    <b>information about additional rights, go to <a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a> or write </b>
    <b>to: Consumer Financial Protection Bureau, 1700 G Street N.W., Washington, DC 20552.</b> </p>

<ul>
<li><p>
<b>You must be told if information in your file has been used against you.  </b>Anyone who uses 
a credit report or another type of consumer report to deny your application for credit, 
insurance, or employment &ndash; or to take another adverse action against you &ndash; must tell you, and 
must give you the name, address, and phone number of the agency that provided the 
information. 
</p></li>
<li><p>
<b>You have the right to know what is in your file. </b> You may request and obtain all the 
information about you in the files of a consumer reporting agency (your &ldquo; file disclosure&rdquo; ). 
You will be required to provide proper identification, which may include your Social 
Security number. In many cases, the disclosure will be free. You are entitled to a free file 
disclosure if: </p>
<ul>
    <li>a person has taken adverse action against you because of information in your credit report;</li>
    <li>you are the victim of identity theft and place a fraud alert in your file;</li>
    <li>your file contains inaccurate information as a result of fraud;</li>
    <li>you are on public assistance;</li>
    <li>you are unemployed but expect to apply for employment within 60 days.</li>
</ul>
<br>
<p>In addition, all consumers are entitled to one free disclosure every 12 months upon request 
from each nationwide credit bureau and from nationwide specialty consumer reporting 
agencies. See <a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a> for additional information. 
</p></li>
<li><p>
<b>You have the right to ask for a credit score.  </b>Credit scores are numerical summaries of 
your credit-worthiness based on information from credit bureaus. You may request a credit 
score from consumer reporting agencies that create scores or distribute scores used in 
residential real property loans, but you will have to pay for it. In some mortgage transactions, 
you will receive credit score information for free from the mortgage lender. 
</p></li>
<li><p>
<b>You have the right to dispute incomplete or inaccurate information.  </b>If you identify 
information in your file that is incomplete or inaccurate, and report it to the consumer 
reporting agency, the agency must investigate unless your dispute is frivolous. See 
<a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a> for an explanation of dispute procedures. 
<h1 style="page-break-before:always; "></h1>
</p></li>
<li><p>
<b>Consumer reporting agencies must correct or delete inaccurate, incomplete, or </b>
<b>unverifiable information. </b>Inaccurate, incomplete, or unverifiable information must be 
removed or corrected, usually within 30 days. However, a consumer reporting agency may 
continue to report information it has verified as accurate. 
</p></li>
<li><p>
<b>Consumer reporting agencies may not report outdated negative information. </b>In most 
cases, a consumer reporting agency may not report negative information that is more than 
seven years old, or bankruptcies that are more than 10 years old. 
</p></li>
<li><p>
<b>Access to your file is limited. </b>A consumer reporting agency may provide information about 
you only to people with a valid need -- usually to consider an application with a creditor, 
insurer, employer, landlord, or other business. The FCRA specifies those with a valid need 
for access. 
</p></li>
<li><p>
<b>You must give your consent for reports to be provided to employers.  </b>A consumer 
reporting agency may not give out information about you to your employer, or a potential 
employer, without your written consent given to the employer. Written consent generally is 
not required in the trucking industry. For more information, go to 
<a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a>. 
</p></li>
<li><p>
<b>You many limit &ldquo; prescreened&rdquo;  offers of credit and insurance you get based on </b>
<b>information in your credit report.  </b>Unsolicited &ldquo; prescreened&rdquo;  offers for credit and 
insurance must include a toll-free phone number you can call if you choose to remove your 
name and address from the lists these offers are based on. You may opt out with the 
nationwide credit bureaus at 1-888-5-OPTOUT (1-888-567-8688). 
</p></li>
<li><p>
<b>You may seek damages from violators.  </b>If a consumer reporting agency, or, in some cases, 
a user of consumer reports or a furnisher of information to a consumer reporting agency 
violates the FCRA, you may be able to sue in state or federal court. 
 
</p></li>
<li><p>
<b>Identity theft victims and active duty military personnel have additional rights.  </b>For 
more information, visit <a href="www.consumerfinance.gov/learnmore">www.consumerfinance.gov/learnmore</a>. 
</p></li>
</ul>

<p><b>States may enforce the FCRA, and many states have their own consumer reporting laws. In 
    some cases, you may have more rights under state law. For more information, contact your 
    state or local consumer protection agency or your state Attorney General. For information 
    about your federal rights, contact:</b></p>

<table class="table table-bordered table-sm">
    <tr>
        <td style="width: 50%;"><b>TYPE OF BUSINESS:</b> </td>
        <td><b>CONTACT:</b></td>
    </tr>
    <tr>
        <td>
            <p>1.a. Banks, savings associations, and credit unions with total assets of over $10 billion and their affiliates</p>
            <p>b. Such affiliates that are not banks, savings associations, or credit unions also should list, 1.a. Banks, savings associations, and credit unions with total assets of over $10 billion and their affiliates</p>
            <p>b. Such affiliates that are not banks, savings associations, or credit unions also should list, in addition to the CFPB:</p>    
        </td>
        <td>
            <p>a. Consumer Financial Protection Bureau
                <br>1700 G Street, N.W.
                    <br>Washington, DC 20552</p>
            <p>b. Federal Trade Commission: Consumer Response Center &ndash; FCRA
                    <br>Washington, DC 20580 <br>(877) 382-4357</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>2. To the extent not included in item 1 above:</p>
            <p>a. National banks, federal savings associations, and federal branches and federal agencies of foreign banks</p>
            <p>b. State member banks, branches and agencies of foreign banks (other than federal branches, federal agencies, and Insured State Branches of Foreign Banks), commercial lending companies owned or controlled by foreign banks, and organizations operating under section 25 or 25A of the Federal Reserve Act</p>
            <p>c. Nonmember Insured Banks, Insured State Branches of Foreign Banks, and insured state savings associations</p>
            <p>d. Federal Credit Unions</p>
        </td>
        <td>
            <p>a. Office of the Comptroller of the Currency <br>Customer Assistance Group
                <br>1301 McKinney Street, Suite 3450 <br>Houston, TX 77010-9050</p>
            <p>b. Federal Reserve Consumer Help Center <br>P.O. Box. 1200
                <br>Minneapolis, MN 55480</p>
            <p>c. FDIC Consumer Response Center <br>1100 Walnut Street, Box #11 <br>Kansas City, MO 64106</p>
            <p>d. National Credit Union Administration <br>Office of Consumer Protection (OCP) <br>Division of Consumer Compliance and Outreach (DCCO)
                <br>1775 Duke Street <br>Alexandria, VA 22314</p>
        </td>
    </tr>
    <tr>
        <td>3. Air carriers</td>
        <td>
            <p>Asst. General Counsel for Aviation Enforcement & Proceedings<br>
                <br>Aviation Consumer Protection Division <br>Department of Transportation<br>
                <br>1200 New Jersey Avenue, S.E. <br>Washington, DC 20590</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>4. Creditors Subject to the Surface Transportation Board</p>
        </td>
        <td>
            <p>Office of Proceedings, Surface Transportation Board<br>
                <br>Department of Transportation<br>
                <br>395 E Street, S.W.<br>
                <br>Washington, DC 20423</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>5. Creditors Subject to the Packers and Stockyards Act, 1921</p>
        </td>
        <td>
            <p>Nearest Packers and Stockyards Administration area supervisor</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>6. Small Business Investment Companies</p>
        </td>
        <td>
            <p>Associate Deputy Administrator for Capital Access<br>
                <br>United States Small Business Administration <br>409 Third Street, S.W., 8th Floor <br>Washington, DC 20416</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>7. Brokers and Dealers</p>
        </td>
        <td>
            <p>Securities and Exchange Commission <br>100 F Street, N.E.
            <br>Washington, DC 20549</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>8. Federal Land Banks, Federal Land Bank Associations, Federal Intermediate Credit Banks, and Production Credit Associations</p>
        </td>
        <td>
            <p>Farm Credit Administration <br>1501 Farm Credit Drive <br>McLean, VA 22102-5090</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>9. Retailers, Finance Companies, and All Other Creditors Not Listed Above</p>
        </td>
        <td>
            <p> FTC Regional Office for region in which the creditor operates <u>or</u> Federal Trade Commission: Consumer Response Center &ndash; FCRA
            <br>Washington, DC 20580
            <br>(877) 382-4357</p>
        </td>
    </tr>
</table>