{% extends 'base.twig.html' %}

{% block title %}Error{% endblock %}

{% block content %}
    <p class="my-5 py-2 py-md-4 py-lg-5"><h1 class="d-inline">Woops.</h1> We're sorry, there was an error.</p>
    <p class="mt-5"><a href="{{ path_for('home')}}" class="btn btn-outline-primary">Home</a></p>
{% endblock %}