{% extends 'base.twig.html' %}

{% block title %}Admin{% endblock %}

{% block head_styles %}
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block car_query %}{% endblock %}

{% block body_content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1"><span class="logo-font blue-text">ScoopM</span> Admin</span>
    {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div> #}
</nav>
<div class="container-fluid px-0 px-sm-3">

    <h3 class="m-2 mx-sm-0 mt-sm-3">Current Applicants</h3>
    
    <div class="table-responsive">
        <table id="usersTable" class="table table-sm table-hover">
            <thead>
                <th scope="col-sm">Name</th>
                <th scope="col-sm">Email</th>
                <th scope="col-sm">Car</th>
                <th scope="col-sm">Accepted</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
</div>

<!-- Modal -->
<div id="applicationModal" class="modal fade scoopm-application-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"><span id="firstName">First</span> <span id="middleName"></span><span id="lastName">Last</span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    {# ABOUT THE USER #}
                    <div class="col-sm">
                        <h3>Contact</h3>
                        <ul class="list-unstyled">
                            <li class="h4"><i class="fas fa-phone"></i> <a id="phone" href="tel:">000-000-0000</a></li>
                            <li class="h4"><i class="fas fa-envelope"></i> <a id="email" href="mailto:">email@example.com</a></h6></li>
                        </ul>
                    </div>
                    <div class="col-sm-auto">
                        <div id="profilePhoto" class="file-link"><p> </p></div>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-sm">
                        <h4><i class="fas fa-users"></i> References</h4>
                        <ul class="list-unstyled">
                            <li><b id="ref1Name" scope="row">First Name</b> (<a id="ref1Phone" href="tel:">###-####</a> / <a id="ref1Email" href="mailto:">email@example.com</a>)</li>
                            <li><b id="ref2Name" scope="row">First Name</b> (<a id="ref2Phone" href="tel:">###-####</a> / <a id="ref2Email" href="mailto:">email@example.com</a>)</li>
                        </ul>
    
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-sm-auto">
                        <p class="mb-1">Resume</p>
                        <div id="resume" class="file-link"><p> </p></div>
                    </div>
                    <div class="col-sm-auto">
                        <p class="mb-1">W-9</p>
                        <div id="w9" class="file-link"><p> </p></div>
                    </div>
                    <div class="col-sm-auto">
                        <p class="mb-1">Fingerprints</p>
                        <div id="fingerprints" class="file-link"><p> </p></div>
                    </div>
                </div>

                {# ABOUT THE CAR #}
                <hr>
                <div class="row">
                    <div class="col-lg">
                        <h4><i class="fas fa-car"></i> Car</h4>
                        <h5><span id="year">'99</span> <span id="make">Make</span> <span id="model">model</span></h5>
                        <p>License plate: <span id="licenseNumber">123-ITFL</span></p>
                        <div class="row">
                            <div class="col-sm-auto">
                                <p class="mb-1">Driver's License</p>
                                <div id="licenseImage" class="file-link"><p> </p></div>
                            </div>
                            <div class="col-sm-auto">
                                <p class="mb-1">Registration</p>
                                <div id="registration" class="file-link"><p> </p></div>
                            </div>
                        </div>
                    </div>
                {# </div> #}

                {# ABOUT THEIR INSURANCE #}
                {# <hr> #}
                {# <div class="row"> #}
                    <div class="col-lg">
                        <h4><i class="fas fa-gavel"></i> Insurance</h4>
                        <h5><span id="policyProvider">Insurance Company Name</span></h5>
                        <ul class="list-unstyled">
                            <li>Policy number: <span id="policyNumber">##########</span></li>
                        </ul>
                    {# </div> #}
                {# </div> #}
                        <div class="row">
                            <div class="col-lg-auto">
                                <p class="mb-1">Insurance Card</p>
                                <div id="insuranceImage" class="file-link"><p> </p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button id="approveButton" type="button" class="btn btn-primary">Approve</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

{% endblock %}

{% block body_scripts %}
{{parent()}}
<script src="/js/admin.js"></script>
{% endblock %}