{# INPUT TYPES #}

{% macro textInput(title, name, value, errors=null, hint=null, type='text') %}
    {% if errors == null %}
        {# Do nothing. #}
    {% elseif errors.passed %}
        {% set validation_class = 'scoopm-is-valid' %}
    {% else %}
        {% set validation_class = 'scoopm-is-invalid' %}
    {% endif %}
    <div class="form-group row">
        <label for="{{name}}" class="col-sm-3 col-form-label">{{title}}</label>
        <div class="col-sm">
            <input id="{{name}}" name="{{name}}" type="{{type}}" class="form-control {{validation_class}}" value="{{value}}" bplaceholder="{{title}}" required/>
            <small class="form-text scoopm-error">Must include a valid {{title|lower}}</small>
            {% if hint %}
                <small class="form-text scoopm-hint">{{hint}}</small>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro simpleTextInput(title, name, value, errors=null, type='text') %}
    {% if errors == null %}
        {# Do nothing. #}
    {% elseif errors.passed %}
        {% set validation_class = 'scoopm-is-valid' %}
    {% else %}
        {% set validation_class = 'scoopm-is-invalid' %}
    {% endif %}
    <div class="form-group">
        <input id="{{name}}" name="{{name}}" type="{{type}}" class="form-control {{validation_class}}" value="{{value}}" placeholder="{{title}}" required/>
        <small class="form-text scoopm-error">Must include a valid {{title}}</small>
    </div>
{% endmacro %}

{% macro password(title, name, value, errors, simple=false, confirm=false) %}
    {% if errors == null %}
        {# Do nothing. #}
    {% elseif errors.passed %}
        {% set validation_class = 'scoopm-is-valid' %}
    {% else %}
        {% set validation_class = 'scoopm-is-invalid' %}
    {% endif %}
    <div class="form-group">
        {% if not simple %}
        <div class="row">
            <label for="{{name}}" class="col-sm-3 col-form-label">{{title}}</label>
            <div class="col-sm">
                {% endif %}
                <input id="{{name}}" name="{{name}}" type="password" class="form-control {{validation_class}}" value="{{value}}" placeholder="{{title}}" maxlength="20" required/>
                {% if not confirm %}
                    <small id="password-size" class="form-text scoopm-hint">Must be between 6 and 20 characters, and contain both letters and numbers.</small>
                {% else %}
                    <small id="password-match" class="form-text scoopm-error">Passwords don't match</small>
                {% endif %}
        {% if not simple %}
            </div>
       </div>
       {% endif %}
    </div>
{% endmacro %}

{% macro email(title, name, value, errors) %}
    {% if errors == null %}
        {# Do nothing. #}
    {% elseif errors.passed %}
        {% set validation_class = 'scoopm-is-valid' %}
    {% else %}
        {% set validation_class = 'scoopm-is-invalid' %}
    {% endif %}
    <div class="form-group row">
        <label for="{{name}}" class="col-sm-3 col-form-label">{{title}}</label>
        <div class="col-sm">
            <input id="{{name}}" name="{{name}}" type="email" class="email form-control {{validation_class}}" value="{{value}}" bplaceholder="{{title}}" required/>
            <small class="form-text scoopm-error">Must use a valid email address</small>
        </div>
    </div>
{% endmacro %}

{% macro textArea(title, name, value, errors=null, hint) %}
    {% if errors == null %}
        {# Do nothing. #}
    {% elseif errors.passed %}
        {% set validation_class = 'scoopm-is-valid' %}
    {% else %}
        {% set validation_class = 'scoopm-is-invalid' %}
    {% endif %}
    <div class="form-group row">
        <label for="{{name}}" class="col-sm-3 col-form-label">{{title}}</label>
        <div class="col-sm">

            {% if hint %}
                <p>{{hint|raw}}</p>
            {% endif %}

            <textarea id="{{name}}" name="{{name}}" class="form-control {{validation_class}}" rows="3" required>{{value}}</textarea>
            
            <small class="form-text scoopm-hint">Must be under 5000 characters</small>
        </div>
    </div>
{% endmacro %}

{% macro upload(title, name, value, type, errors, hint) %}

    {# CSS ERROR CLASS #}
    {% if errors == null %}
        {# Do nothing. #}
    {% elseif errors.passed %}
        {% set validation_class = 'scoopm-is-valid' %}
    {% else %}
        {% set validation_class = 'scoopm-is-invalid' %}
    {% endif %}

    {# INPUT FILE TYPES (accepts="...") #}
    {% if type == 'img' %}
        {% set type_phrase = '<i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;Allowed: JPEG, PNG, GIF' %}
        {% set allowed_types = 'image/png, image/jpeg, image/gif, .png, .jpeg, .jpg, .gif' %}
    {% elseif type == 'pdf' %}    
        {% set type_phrase = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;Allowed: PDF' %}
        {% set allowed_types = 'application/pdf, .pdf' %}
    {% elseif type == 'doc' %}
        {% set type_phrase = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;&nbsp;Allowed: PDF, Word Document' %}
        {% set allowed_types = 'application/pdf, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/msword, .pdf, .doc, .docx' %}
    {% elseif type == 'img/pdf' %}
        {% set type_phrase = '<i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;&nbsp;<i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;Allowed: PDF, JPEG, PNG, GIF' %}
        {% set allowed_types = 'image/png, image/jpeg, image/gif, application/pdf, .png, .jpeg, .jpg, .gif, .pdf' %}
    {% endif %}

    {# UPLOAD SUCCESS #}
    {% if value == '' %}
        {% set buttonText = 'Browse...' %}
    {% else %}
        {% set buttonText = 'Change File...' %}
        {% set validation_class = 'scoopm-is-valid' %}
    {% endif %}
    
    <div class="form-group row">

        <label for="{{name}}" class="col-sm-3 col-form-label">{{title}}</label>
        
        <div class="col-sm">

            {% if hint %}
                <p>{{hint|raw}}</p>
            {% endif %}

            <div class="input-group {{validation_class}} upload-input-group">
                {# This field uses the name attribute so it can re-display the file name if the field is returned with errors #}
                <input type="text" class="form-control upload-text" name="{{name}}" value="{{value}}">

                <div class="input-group-addon p-0">
                    <input id="{{name}}-input" type="file" name="{{name}}-actual" class="d-none" accept="{{allowed_types}}">
                    <label class="input-group-text mb-0 px-3 w-100 h-100 d-flex align-items-center" for="{{name}}-input">{{buttonText}}</label>
                </div>
            </div>
            
            {% if errors.empty %}
                <small class="form-text scoopm-error">Required. Please try again</small>
            {% elseif errors.invalid %}
                <small class="form-text scoopm-error">Incorrect file type. Please try again</small>
            {% endif %}
            
            <small class="form-text scoopm-error">Oops, there was an error. Please try again</small>

            <small class="form-text scoopm-hint">{{type_phrase|raw}} (under 2MB)</small>

        </div>
    </div>
{% endmacro %}

{% macro select(title, name, errors, options=null, value=null) %}
    {% if errors == null %}
        {# Do nothing. #}
    {% elseif errors.passed %}
        {% set validation_class = 'scoopm-is-valid' %}
    {% else %}
        {% set validation_class = 'scoopm-is-invalid' %}
    {% endif %}
    <div class="form-group row">
        <label for="{{name}}" class="col-sm-3 col-form-label">{{title}}</label>
        <div class="col-sm">
            <select id="{{name}}" name="{{name}}" class="custom-select form-control {{validation_class}}">
                {% if options %}
                    <option value="">Choose...</option>
                    {% for option_value, text in options %}
                        <option value="{{option_value}}" {% if option_value == value %}selected{% endif %}>{{text}}</option>    
                    {% endfor %}
                {% endif %}
            </select>
            {% if errors.invalid %}
                <small class="form-text scoopm-error">Required</small>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro agreement(title, name, value, errors=null) %}
    {% if errors == null %}
        {# Do nothing. #}
    {% elseif errors.passed %}
        {% set validation_class = 'scoopm-is-valid' %}
    {% else %}
        {% set validation_class = 'scoopm-is-invalid' %}
    {% endif %}
    <div class="form-group row mt-3">
        <label for="{{name}}" class="col-sm-3 col-form-label">{{title}}</label>
        <div class="col-sm">
            <p class="{{validation_class}}">I authorize ScoopM to perform a background check, including a criminal background check and motor vehicle report.</p>
            <input id="{{name}}" name="{{name}}" type="checkbox" value="1" {% if value == '1' %}checked{% endif %}
            > <label for="{{name}}" class="{{validation_class}}">I Agree</label>
            <small class="form-text scoopm-error">You must agree to these terms</small>
        </div>
    </div>
{% endmacro %}







{# FORMATTING #}

{% macro title(text) %}
    {# <h1 class="text-center">{{text}}</h1> #}
    {# <!-- <br> --> #}
{% endmacro %}

{% macro heading(text) %}
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
                <p class="h4 fw-400">{{text}}</p>
        </div>
    </div>
{% endmacro %}

{% macro subHeading(text) %}
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
                <p class="h5 fw-400">{{text|raw}}</p>
        </div>
    </div>
{% endmacro %}

{% macro note(text) %}
    <div class="row">
        <div class="col-sm-9 offset-sm-3">
                <p class="alert alert-secondary">{{text|raw}}</p>
        </div>
    </div>
{% endmacro %}

{% macro buttons(thisPage, goingBack=false, submitting=false, disabled=null) %}
    <div class="form-row text-center mt-4">

        <div class="col-sm"></div>

        {% if goingBack %}
            <div class="col">
                <button id="{{thisPage}}Back" class="back-button btn btn-outline-secondary mb-4 mb-sm-0 px-5"><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Back&nbsp;</button>
            </div>
        {% endif %}

        <div class="col">
            {% if not submitting %}
                <button id="{{thisPage}}Next" class="next-button btn btn-outline-primary px-5">&nbsp;Next&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></button>
                
            {% else %}
                <input id="submit-button" 
                    type="submit" 
                    class="btn btn-primary px-5"
                    value="Submit" 
                    data-toggle="tooltip" data-placement="top" title="You must upload all files to submit the application." 
                    {{disabled}}/>
            {% endif %}
        </div>

        <div class="col-sm"></div>

    </div>

    
{% endmacro %}
