{% extends 'base.twig.html' %}

{% import "form_macros.twig.html" as form %}

{% block title %}Welcome{% endblock %}

{% block head_styles %}
    <link rel="stylesheet" href="/minify/f=css/home.css">
{% endblock %}

{% block head_scripts %}
    <!-- CAR QUERY -->
    <script type="text/javascript" src="https://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var carquery = new CarQuery();
            carquery.init();
            carquery.setFilters( {sold_in_us:true} );
            carquery.initYearMakeModelTrim('year', 'make', 'model', 'na');
            carquery.year_select_min=2010;
        });
    </script>
{% endblock %}

{% block body_content %}

<div class="container">

    {# HEADER #}
    <div class="row">
        <div class="col text-center mt-2 mt-sm-4 mb-1 mb-sm-3">
            {# <h1 class="display-2 text-center logo-font blue-text my-3 my-sm-4"><a href="{{path_for('home')}}">ScoopM</a><small>&nbsp;</small></h1> #}

            <h1><a href="{{path_for('home')}}" class="display-2 logo-font blue-text">ScoopM</a><span>&nbsp;</span></h1>
            <h3 class="deep-blue mt-3">Driver Application</h3>
        </div>
    </div>

    {# MAIN CONTENT #}
    <div class="row mt-sm-3">
        <div class="col-sm-10 offset-sm-1">

            {# ADVERT CARDS #}
            <div class="row">
                <div class="col-lg">
                    <div id="card1" class="card fade-in">
                        <div class="card-body m-1 m-md-2 my-md-3">
                            <span class="deep-blue"><i class="far fa-credit-card"></i></span>
                            <span class="deep-blue">Earn more</span>
                            <p>Since safety is our priority, we can charge passengers&mdash;and pay you&mdash;more.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg">
                    <div id="card2" class="card fade-in">
                        <div class="card-body m-1 m-md-2 my-md-3">
                            <span class="deep-blue"><i class="far fa-user"></i><i class="fas fa-heart"></i></span>
                            <span class="deep-blue">Be trusted</span>
                            <p>Join the rideshare community where safety is #1.<br></p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg">
                    <div id="card3" class="card fade-in">
                        <div class="card-body m-1 m-md-2 my-md-3">
                            <span class="deep-blue"><i class="far fa-life-ring"></i></span>
                            <span class="deep-blue">You're&nbsp;covered</span>
                            <p>Relax&mdash;our corporate insurance policy covers both you and your riders if things go awry.</p>
                        </div>
                    </div>
                </div>
            </div>

            {# SIGN-UP FORM #}
            <div class="row mt-3 mt-md-5 mt-lg-5">
                <div class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-3 sign-up-box">

                    {# FORM #}
                    <form id="sign-up-form" method="POST" action="{{path_for('home')}}">

                        {# SIGN UP #}              
                        <div id="sign-up-section">
                            <div class="form-group">
                                <h1 class="text-center deep-blue">Apply now!</h1>
                            </div>
                        
                            {# SIGN-UP ERRORS #}
                            <div id="errorMessage" class="alert d-none"></div>

                            {# EMAIL #}
                            <div class="form-group">
                                <input id="email" type="text" class="form-control" placeholder="Email"/>
                            </div>

                            {# PASSWORD #}
                            <div class="form-group">
                                <input id="password" type="password" class="form-control" placeholder="Password"/>
                            </div>

                            {# SIGN-IN LINK #}
                            <p class="text-muted mt-2 mb-0">
                                Already have an account? <a href="{{ path_for('application-login') }}">Sign in</a>
                            </p>
                        </div>
                            
                        {# CAR TYPE #}
                        <div id="car-section">
                            {% if invalidCarData %} {# if car query didn't validate #}
                                <div id="invalid-car-data" class="alert">
                                    <p>Sorry, there was an error. Please try selecting your car again.</p>
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <h3 class="text-center deep-blue mt-4">What car do you drive?</h3>
                            </div>

                            <div class="form-row">
                                <div class="col-lg col-lg-3">                                    
                                    <select id="year" name="year" class="form-control custom-select" placeholder="Year"></select>
                                    <div class="text-center d-none d-lg-block"><small class="text-muted">Year</small></div>
                                </div>
                                <div class="col-lg">
                                    <select id="make" name="make" class="form-control custom-select" placeholder="Make"></select>
                                    <div class="text-center d-none d-lg-block"><small class="text-muted">Make</small></div>
                                </div>
                                <div class="col-lg">
                                    <select id="model" name="model" class="form-control custom-select" placeholder="Model"></select>
                                    <div class="text-center d-none d-lg-block"><small class="text-muted">Model</small></div>
                                </div>
                            </div>
                            <div class="form-row"><div class="col"><small class="text-muted">Car must be from 2010 or newer</small></div></div>
                        </div>

                        {# HIDDEN INPUT #}
                        <input id="userId" name="userId" type="hidden" value="{{userId}}">
                        <input id="userIdToken" name="userIdToken" type="hidden" value="{{useridToken}}">

                        {# SUBMIT #}
                        <div class="form-group text-center mt-4">
                            <button id="createAccount" class="btn btn-primary">Let's go!</button>
                        </div>
                    </form>

                    {# IF THEY'RE ALREADY LOGGED IN #}
                    <div id="alternate-message-section" class="text-center my-3 d-none">

                        <p id="application-entrypoint"></p>
                        
                        <p class="text-muted mt-2">
                            You're signed in. <a id="sign-out" href="#">Sign Out</a>
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block body_scripts %}
<script type="text/javascript" src="/minify/f=js/home-animations.js"></script>
<script type="text/javascript" src="/minify/f=js/home-create-user.js"></script>
{% endblock %}