{% extends 'base.twig.html' %}

{% import "form_macros.twig.html" as form %}

{% block title %}Welcome{% endblock %}

{% block car_query %}{% endblock %}

{% block body_class %}class="ad-background"{% endblock %}
{% block head_styles %}
    <link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block content %}
</div>
<div class="col-sm-10 offset-sm-1">
    <div class="row">
            <div class="col">

                {# <div class="mt-sm-1">&nbsp; </div> #}
                <div class="my-sm-1">&nbsp; </div>
                
                <div class="row">
                    <div class="col-lg">
                        <div id="card1" class="card hidden-card">
                            <div class="card-body"><span>Earn more</span> Our safety-first standards mean we can charge riders&mdash;and pay you&mdash;more.</div>
                        </div>
                    </div>
                    
                    <div class="col-lg">
                        <div id="card2" class="card hidden-card">
                            <div class="card-body"><span>You're covered</span> Our corporate insurance policy means you can drive with greater peace of mind.</div>
                        </div>
                    </div>
                    
                    <div class="col-lg">
                        <div id="card3" class="card hidden-card">
                            <div class="card-body"><span>Lorem Ipsum</span> Dolor sit amet and other profound sayings of an intellectual mind.</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-3 sign-up-box">

                        <div id="signUp">
                            <h1 class="text-center">Sign up now!</h1>
                            
                            <div id="errorMessage" class="alert d-none"></div>
                            
                            <form id="sign-up">
                                <div class="form-group">
                                    <input id="email" type="text" class="form-control" placeholder="Email"/>
                                    <small class="form-text scoopm-error">Please enter your email</small>
                                </div>
                                <div class="form-group">
                                        <input id="password" type="password" class="form-control" placeholder="Password"/>
                                        <small class="form-text scoopm-error">Please enter your email</small>
                                    </div>
                                <div class="text-center">
                                    <input id="createAccount" type="submit" class="btn btn-block" value="Let's go!"/>
                                </div>
                                <p class="text-center my-3">
                                    Already have an account? <a href="{{ path_for('application-login') }}">Sign in.</a>
                                </p>
                            </form>
                        </div>
                        <div id="startNewApplication" class="text-center my-4 d-none">
                            <a href="{{ path_for('register') }}" class="btn btn-lg">Create New Application</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}


{% block body_scripts %}
<script type="text/javascript" src="/js/home.js"></script>
<script type="text/javascript" src="/js/createUser.js"></script>
{% endblock %}