{% extends 'base.twig.html' %}

{% import "form_macros.twig.html" as form %}

{% block title %}Welcome{% endblock %}

{% block car_query %}{% endblock %}

{% block content %}

<div class="row">
        <div class="col">

            <div class="mt-1">&nbsp; </div>
            <div class="my-1 d-none d-sm-block">&nbsp; </div>
                
            <div class="row">
                
                <div class="col-md mb-4 mb-md-0">
                    <div id="card1" class="card hidden-card">
                        <div class="card-body">Earn more. We pay higher rates because our service is safer.</div>
                    </div>
                </div>
                
                <div class="col-md mb-4 mb-md-0">
                    <div id="card2" class="card hidden-card">
                        <div class="card-body">Background checks make the ride safer.</div>
                    </div>
                </div>
                
                <div class="col-md mb-4 mb-md-0">
                    <div id="card3" class="card hidden-card">
                        <div class="card-body">There are so many reasons to sign up for this service.</div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-8 offset-sm-2">

                    <div id="signUp">
                        <h1 class="text-center mt-5 mb-4">Sign up now!</h1>
                        
                        <div id="errorMessage" class="alert alert-primary d-none"></div>
                        
                        <form id="sign-up">
                            <div class="form-group">
                                <input id="email" type="email" class="form-control" placeholder="Email"/>
                                <small class="form-text scoopm-error">Please enter your email</small>
                            </div>
                            <div class="form-group">
                                    <input id="password" type="password" class="form-control" placeholder="Password"/>
                                    <small class="form-text scoopm-error">Please enter your email</small>
                                </div>
                            <div class="text-center">
                                <button id="createAccount" type="button" class="btn btn-outline-primary btn-block">Let's go! </button>
                            </div>
                        </form>
                    </div>
                    <div id="startNewApplication" class="d-none">
                        <h1 class="text-center my-5"><a href="{{ path_for('register') }}" class="underlined">Apply now!</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block body_scripts %}
<script type="text/javascript" src="/js/greeting.js"></script>
<script type="text/javascript" src="/js/createUser.js"></script>
{% endblock %}