{% extends 'base.twig.html' %}

{% block title %}Please Wait...{% endblock %}

{% block body_content %}
    <div class="container">
        <div class="row h-100 align-items-center" style="margin-top:15%;">
            <div class="col-lg-8 offset-lg-2 text-center">
                <p class="lead text-muted">Creating user accont...</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{parent()}}
    <script>
         firebase.auth().createUserWithEmailAndPassword('{{email}}', '{{password}}').catch(function(error) {
            console.log(error);
            return false;
         });
         
         firebase.auth().onAuthStateChanged(function(user) {
            if (user) {
                var database = firebase.database();
                var oldRef = database.ref('applications/{{applicationKey}}');
                
                oldRef.once('value').then(function(snapshot) {
                    database.ref('users/' + user.uid).set(snapshot.toJSON());
                });
                
                oldRef.remove();

//                window.location.replace('{{path_for("thanks")}}');
            } else {
              // No user is signed in.
            }
          });
    </script>
{% endblock %}

{% block footer %}{% endblock %}