{% extends "base.twig.html" %}
{% import "form_macros.twig.html" as form %}

{% block title %}Register{% endblock %}

{% block head_styles %}
    <link rel="stylesheet" href="/css/register.css">
{% endblock %}

{% set theStates = { 'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'DC': 'District Of Columbia', 'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming' } %}

{% block body_class %}class="register"{% endblock %}

{% block body_content %}
<div class="container-fluid">
    <div class="row">
        <div id="formContainer" class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">

            <div class="text-center mb-4">
                <a href="{{path_for('home')}}" class="h1 d-inline logo-font blue-text">ScoopM</a>
                <span>&nbsp;&nbsp;</span>
                <span class="h3 d-inline">Driver&nbsp;Application</span>
            </div>

            <div id="progress-links" class="row"> {# {% if errors %}DISABLE-re-visit{% endif %} #}
                {# <div> #}
                    <div class="col-sm">
                        <a id="aboutYouLink" href="#" class="current-page page-visited"><span class="circle">1</span><span class="link">About&nbsp;You</span></a>
                    </div>
                    <div class="col-sm">
                        <a id="yourCarLink" href="#"><span class="circle">2</span><span class="link">Your&nbsp;Car</span></a>
                    </div>
                    <div class="col-sm">
                        <a id="insuranceLink" href="#"><span class="circle">3</span><span class="link">Insurance&nbsp;Info</span></a>
                    </div>
                    <div class="col-sm">
                        <a id="applicationLink" href="#"><span class="circle">4</span><span class="link">Application</span></a>
                    </div>
                    <div class="col-sm">
                        <a id="referencesLink" href="#"><span class="circle">5</span><span class="link">References</span></a>
                    </div>
                {# </div> #}
            </div>

            <div class="clearfix"></div>

            <form id="application-form" method="post" action="{{ path_for('register') }}"  enctype="multipart/form-data" {% if errors %}class="scoopm-was-validated"{% endif %} autocomplete="off" novalidate>
                    
                {# <input type="submit">  #}
                {# Used for testing purposes #}
                {# <button onclick="firebase.auth().signOut().then(function() {
                    alert('signed out');
                    // Sign-out successful.
                  }).catch(function(error) {
                      alert('error');
                    // An error happened.
                  });">Sign Out</button> #}

                <!-- ABOUT YOU -->
                <div id="aboutYouPage" class="current-page page">

                    {% if errors.userID.empty %}
                        <h6 class="error scoopm-is-invalid my-4">Woops, something went wrong. If you have disabled JavaScript in your web browser, please enable it and try again. If the problem continues, please contact us.</h6>
                    {% endif %}

                    {{form.title('About You')}}  
                    {{form.textInput('First Name', 'firstName', firstName, errors.firstName)}}
                    {{form.textInput('Middle Name', 'middleName', middleName, errors.middleName)}}
                    {{form.textInput('Last Name', 'lastName', lastName, errors.lastName)}}
                    {{form.textInput('Phone Number', 'phone', phone, errors.phone, null, 'tel')}}

                    {{form.textInput('Street Address', 'address', address, errors.address)}}
                    {{form.textInput('City', 'city', city, errors.city)}}
                    {{form.select('State', 'state', errors.state, theStates, state)}}
                    {{form.textInput('ZIP Code', 'zip', zip, errors.zip, null, 'number')}}

                    {{form.textInput('Date of Birth', 'dob', dob, errors.dob, 'If typing: YYYY-MM-DD', 'date')}}

                    {{form.upload('Profile Photo', 'photo', photo, 'img', errors.photo)}}

                    {{form.buttons('aboutYou')}}
                </div>


                <!-- YOUR CAR -->
                <div id="yourCarPage" class="page">
                    {{form.title('About your car')}}  
                    
                    {{form.upload('Driver\'s License', 'licenseImage', licenseImage, 'img', errors.licenseImage)}}
                    {{form.textInput('Driver\'s License Number', 'licenseNumber', licenseNumber, errors.licenseNumber)}}
                    {{form.select('Driver\'s License State', 'licenseState', errors.licenseState, theStates, licenseState)}}

                    {{form.upload('Registration', 'registration', registration, 'img', errors.registration)}}
                    
                    {{form.select('Year', 'year', errors.year)}}
                    {{form.select('Make', 'make', errors.make)}}
                    {{form.select('Model', 'model', errors.model)}}
                    {# {{form.select('Trim', 'trim', errors.trim)}} #}
                    {{form.select('Color', 'color', errors.color, {
                        'Beige': 'Beige',
                        'Black': 'Black',
                        'Blue': 'Blue',
                        'Brown': 'Brown',
                        'Burgundy': 'Burgundy',
                        'Charcoal': 'Charcoal',
                        'Gold': 'Gold',
                        'Gray': 'Gray',
                        'Green': 'Green',
                        'Off White': 'Off White',
                        'Orange': 'Orange',
                        'Pink': 'Pink',
                        'Purple': 'Purple',
                        'Red': 'Red',
                        'Silver': 'Silver',
                        'Tan': 'Tan',
                        'Turquoise': 'Turquoise',
                        'White': 'White',
                        'Yellow': 'Yellow'
                    }, color)}}
                    
                    {{form.textInput('License Plate Number', 'licensePlateNumber', licensePlateNumber, errors.licensePlateNumber)}}

                    {{form.buttons('yourCar', true)}}
                </div>


                <!-- INSURANCE -->
                <div id="insurancePage" class="page">
                    {{form.title('Insurance info')}}
                    {{form.textInput('Policy provider', 'policyProvider', policyProvider, errors.policyProvider)}}
                    {{form.textInput('Policy number', 'policyNumber', policyNumber, errors.policyNumber)}}
                    {{form.upload('Insurance card', 'insuranceImage', insuranceImage, 'img', errors.insurance)}}
                    {{form.buttons('insurance', true)}}
                    <!-- <div style="position: absolute; top:100%; height:600px;">&nbsp;</div> -->
                </div>


                    <!-- APPLICATION -->
                <div id="applicationPage" class="page">
                    {{form.title('Application')}}
                    {{form.textInput('Social Security Number', 'ssn', ssn, errors.ssn, 'Format: ###-##-####')}}
                    {{form.upload('Upload W-9', 'w9', w9, 'img/pdf', errors.w9, '<a href="https://www.irs.gov/pub/irs-pdf/fw9.pdf"  target="_blank">Download</a> and fill out a blank copy of the W-9.')}}
                    {{form.upload('Upload Resume', 'resume', resume, 'doc', errors.resume)}}
                    {{form.upload('Fingerprints', 'fingerprints', fingerprints, 'img/pdf', errors.fingerprints, 'You can get your fingerprints taken at the local police station. Scan the fingerprint document or upload a PDF.')}}
                    {{form.textArea('Felonies Committed, if applicable', 'felonies', felonies, errors.felonies)}}
                    {{form.agreement('Background Check', 'backgroundCheck', backgroundCheck, errors.backgroundCheck, 'I authorize ScoopM to perform a background check, including a criminal background check and motor vehicle report.')}}
                    {{form.buttons('application', true)}}
                </div>


                <!-- REFFERENCES -->
                <div id="referencesPage" class="page">
                    {{form.heading('Please provide two references.')}}
                    {{form.subHeading('Reference 1')}}
                    {{form.textInput('Name', 'ref1Name', ref1Name, errors.ref1Name)}}
                    {{form.textInput('Phone Number', 'ref1Phone', ref1Phone, errors.ref1Phone, null, 'tel')}}
                    {{form.email('Email Address', 'ref1Email', ref1Email, errors.ref1Email)}}
                    
                    {{form.subHeading('Reference 2')}}
                    {{form.textInput('Name', 'ref2Name', ref2Name, errors.ref2Name)}}
                    {{form.textInput('Phone Number', 'ref2Phone', ref2Phone, errors.ref2Phone, null, 'tel')}}
                    {{form.email('Email Address', 'ref2Email', ref2Email, errors.ref2Email)}}
                
                    {# {{form.buttons('references', true)}} #}

                    {% if not photo or not licenseImage or not registration or not insuranceImage or not w9 or not resume or not fingerprints  %}
                        {% set disabled = 'disabled' %}
                    {% endif %}

                    {{form.buttons('userAccount', true, true, disabled)}} {# SUBMIT #}

                </div>

                {# <!-- USER ACCOUNT -->
                <div id="userAccountPage" class="page">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div id="accountCard" class="card mt-md-3 mb-md-5">
                                <div class="card-body">
                                    <h5 class="card-title">Create User Account</h5>
                                    <p class="card-text">
                                        {{form.simpleTextInput('Email', 'email', "tim@example.com", errors.email)}}
                                        {{form.password('Password', 'password', "123abc", errors.password, true)}}
                                        {{form.password('Confirm Password', 'confirmPassword', "123abc", errors.confirmPassword, true, true)}}            
                                    </p>
                                    <div class="text-center">
                                        <button id="createAccount" type="button" class="btn btn-outline-primary my-1" disabled>Create Account</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{form.buttons('userAccount', true, true)}} {# SUBMIT
                </div> #}

                {# HIDDEN INPUTS #}
                {# <input id="userKey" name="userKey" type="hidden" value="{{userKey}}"> #}
                <input id="email" name="email" type="hidden" value="{{email}}">
                <input id="userID" name="userID" type="hidden" value="{{userID}}">
                <input id="userIdToken" name="userIdToken" type="hidden" value="{{userIdToken}}">
                
            </form>

        </div>
    </div>
</div>
 {# </div>    #}
{% endblock %}

{% block body_scripts %}
    {{parent()}}
    <script type="text/javascript" src="/js/variables.js"></script>
    <script type="text/javascript" src="/js/register-wizard.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
    <script type="text/javascript" src="/js/uploader.js"></script>
{% endblock %}
