{% extends 'base.twig.html' %}

{% block car_query %}{% endblock %}

{% block head_scripts %}
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
{% endblock %}

{% block content %}
<h1 class="fw-400 text-center">Application</h1>
<h3>First, create a user account.</h3>
<div id="firebaseui-auth-container"></div>
<div id="loader">Loading...</div>


{% endblock %}

{% block body_scripts %}
{{parent()}}
<script>
    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());

    var uiConfig = {
        callbacks: {
          signInSuccess: function(currentUser, credential, redirectUrl) {
            // User successfully signed in.
            // Return type determines whether we continue the redirect automatically
            // or whether we leave that to developer to handle.
            return true;
          },
          uiShown: function() {
            // The widget is rendered.
            // Hide the loader.
            document.getElementById('loader').style.display = 'none';
          }
        },
        // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
        signInFlow: 'popup',
        signInSuccessUrl: '<url-to-redirect-to-on-success>',
        signInOptions: [ firebase.auth.EmailAuthProvider.PROVIDER_ID ],
        // Terms of service url.
        tosUrl: '<your-tos-url>'
      };

      // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);  
</script>
{% endblock %}